azure-cognitiveservices-vision-computervision
click
contourpy
cryptography
cycler
Flask
Flask-SQLAlchemy
flask-login
fonttools
importlib-metadata
importlib-resources
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
msrest
numpy
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
Pillow
pyparsing
python-dateutil
rsa
six
Werkzeug
zipp
