{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<form enctype="multipart/form-data" method="POST" action="/process">
    
    <center>
        <br></br>
        <table>
            <tr>
                <td><p>Upload file for decryption:</p></td>
                <td><input type="file" id="file_for_dec" name="file_for_dec" required></td>
            </tr>
            <tr>
                <td><p>Enter name of decrypted file without extension: &ensp;</p></td>
                <td><input type="text" name="name_dec_file" id="name_dec_file" required></td>
            </tr>
            <tr>
                <td><p>Enter key:</p></td>
                <td><input type="text" name="key" id="key" required></td>
            </tr>
            </table>
            <input type="hidden" id="method" name="method" value="3_des_dec" />
        <br></br>
        <input type="submit">
    </center>
</form>
{% endblock %}