{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<head>
    <script>
        function fun() {
            var str = +document.getElementById('name_dec_file').value;
            if (str.includes(".")) {
                window.alert('File name contains extension!');
                return false;
            } else {
                return true;
            }
        }  
    </script>
</head>
<h1 align="center">Fill the form for encryption:</h1>
<form enctype="multipart/form-data" method="POST" action="/process">

    <center>
        <br></br>
        <table>
            <tr>
                <td>
                    <p>Upload file for encryption:</p>
                </td>
                <td><input type="file" id="file_for_enc" name="file_for_enc" required></td>
            </tr>
            <tr>
                <td>
                    <p>Enter name of encrypted file without extension: &ensp;</p>
                </td>
                <td><input type="text" name="name_enc_file" id="name_dec_file" required></td>
            </tr>
            <tr>
                <td>
                    <p><label for="key_size" required>Choose key bit size:</label></p>
                </td>
                <td>
                    <select name="key_size" id="key_size">
                        <option value="128">128 Bits</option>
                        <option value="256">256 Bits</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" id="method" name="method" value="aes" />
        <br></br>
        <input type="submit" onclick="return fun();">
    </center>
</form>
{% endblock %}