{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<head>
    <script>
        function myFunction() {
            let textarea = document.getElementById("key");
            textarea.select();
            document.execCommand("copy");
            alert("Copied the text: " + textarea.value);
        }
    </script>
</head>
<h1 align="center">Download the {{ process_name }} file below:</h1>
</ul>
<div>
    <center>
        <br></br>
        <a href="{{ file_path }}" download>Download</a>
        <br></br>
        <table>
            <tr>
                <td><p>Save the key for future use:&ensp;</p></td>
                <td>
                    <input type="text" id="key" name="key" value="{{ key }}" readonly>
                </td>
                <td><button onclick="myFunction()">Copy text</button></td>
            </tr>
        </table>
        
        <a href="/">Back to Home page</a>
    </center>
</div>
{% endblock %}